<ng-container *ngIf="formGroup && control">
  <!-- <mat-form-field class="example-full-width">
    
    <input  placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field> -->
    <div class="form-control" [formGroup]="formGroup"
          [ngClass]="extraClass" [class.invalid]="control.touched && control.invalid">
        <mat-form-field>
          <mat-label *ngIf="label">{{label}}</mat-label>
          <input matInput
            [type]="type"
            [placeholder]="placeholder"
            [attr.name]="name"
            [attr.id]="id"
            [formControl]="control"
            [maxlength]="maxLength"
            [minLength]="minLength"
            [OnlyNumber]="onlyNumber"
            [OnlyAlphaName]="onlyAlphabet"
            [OnlyAlphaNumeric]="onlyAphaNumber"
            [appNoSpace]="noSpace"
            autocomplete="off"
            (blur)="blur()" />
          <mat-error *ngIf="control.touched && control.invalid">
            {{
              (control.errors.required) ? "Please enter "+name.toLowerCase() : 
              (control.errors.minlength) ? name + " must be greater than " + (control.errors.minlength.requiredLength-1) : 
              (control.errors.maxlength) ? name + " must be lesser than " + control.errors.maxlength.requiredLength :
              (control.errors.incorrect) ? control.errors.incorrect : ''
            }}
          </mat-error>
        </mat-form-field>
    </div>
  </ng-container>
  