/* Write your color combination here */

/* Font styles */
$big-font:20px;
$subhead-font:18px;
$medium-font:16px;
$regular-font:14px;
$small-font:12px;
$very-small-font:11px;
$defaultFamily: Arial, Helvetica, sans-serif;

/* Font thinkness */
$thin-font:400;
$middle-font:500;
$thick-font:600;

/* Container width */
$container:1170px;

/* Basic message colors */
$error:#DC3646;
$error-bg: #DC364666;
$success:#36AC51;
$info:#FFC300;
$alert:#DF1F1F;

/* Normal colors */
$green:#00B517;
$orange:#FFC300;
$red:#E02020;
$white: #ffffff;
$black: #000000;

/* Other colors */
$primary-color: #0b2a66;
$border-color:#c0cee6;
$base-color:#008dcb;
$box-shadow-black: 5px 0px 5px #0000002e;
$menu-icon-color: #000;
$menu-icon-size: 30px;
$active: #9786ff;
$header-text: #6a5acd;

/* Heights */
$home-height: calc(100vh - 60px);
$content-height: calc(100vh - 100px);