<perfect-scrollbar class="perfect-scrollbar sidebar-scroll" style="max-height: 100vh;width: inherit;"
        appClickOutside
        (clickOutside)="closeSidebar()"
        [ngClass]="{'open-slide': sidebarService.sidebarOpen}" id="sidebar-ps">
	<div class="sidebar" id="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <mat-icon class="sidebar-icon" aria-hidden="false" aria-label="Home icon">home</mat-icon>
                <span class="nav-title">Home</span>
            </li>
            <li class="nav-item" routerLink="/examples" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <mat-icon class="sidebar-icon" aria-hidden="false" aria-label="Example icon">code</mat-icon>
                <span class="nav-title">Examples</span>
            </li>
            <li class="nav-item" routerLink="/jokes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <mat-icon class="sidebar-icon" aria-hidden="false" aria-label="Example icon">sentiment_satisfied_alt</mat-icon>
                <span class="nav-title">Jokes</span>
            </li>
        </ul>
    </div>
</perfect-scrollbar>
