@import '../../../assets/scss/_variable';

.header{
    font-size: $subhead-font;
    font-weight: 800;
    padding: 10px;
    color: $header-text;
    box-shadow: 0px 3px 10px #ddd;
    display: flex;

    .header-logo{
        margin-top: -7px;
        font-size: 30px;
    }

    .header-text {
        margin-left: 35px;
    }

}
