/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/scss/_variable';

/* Set basic font size and default styles */
body {
    font-family: $defaultFamily;
    font-size: $regular-font;
}

/* Snackbar styles */
.mat-snack-bar-container {
    background: $white;
    color: $primary-color;
    border: 1px solid $border-color;
    position: fixed;
    left: 0;
    right: 0;
    margin: 24px auto !important;
    max-width: 24vw !important;
    button.mat-button {
        border: 1px solid transparent;
        max-height: inherit;
        span.mat-button-wrapper {
            color: $base-color;
        }
        &:hover,
        &:focus {
            border: 1px solid transparent;
            background: transparent;
            span.mat-button-wrapper {
                color: $base-color;
            }
        }
        .mat-button-ripple.mat-ripple {
            display: none;
        }
    }
    simple-snack-bar {
        &::before {
            position: relative;
            top: 2px;
        }
    }
}
.snack {
    simple-snack-bar:before {
        margin-right: 10px;
    }
    &.snack-error {
        simple-snack-bar:before {
           content: url("assets/images/snack-bar/error.png");
        }
    }
    &.snack-warning {
        simple-snack-bar:before {
            content: url("assets/images/snack-bar/warning.png");
        }
    }
    &.snack-info {
        simple-snack-bar:before {
            content: url("assets/images/snack-bar/info.png");
        }
    }
    &.snack-success {
        simple-snack-bar:before {
            content: url("assets/images/snack-bar/success.png");
        }
    }
}

/* Ordered list styles */
ol {
    li {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

/* Matrial according styles overwritting */
.feature-list{
    .mat-expansion-panel-header-title{
        font-size: $medium-font;
    }
}

/* Code block ctyles */
.code-block {
    background-color: #dedede;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
}

/* Margin styles */
.mar-l-15 {
    margin-left: 15px !important;
}

/* Padding styles */
.pad-l-10 {
    padding-left: 10px;
}


/* Side bar styles */
.home {
    width: 100%;
    display: inline-flex;
    /* Side bar navigation element */
    .sidebar-nav{
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        .nav-item {
            margin-top: 10px;
            padding: 15px 8px;
            display: inline-flex;
            cursor: pointer;
            color: $menu-icon-color;
            /* Navigation title */
            .nav-title {
                margin-left: 10px;
                opacity:0;
            }
            /* icon style */
            .sidebar-icon {
                margin-top: -5px;
                font-size: $menu-icon-size;
            }
            &:hover {
                color: $active;
                transition: .2s all linear!important;
                -o-transition: .2s linear; /* opera */
                -ms-transition: .2s linear; /* IE 10 */
                -moz-transition: .2s linear; /* Firefox */
                -webkit-transition: .2s linear; /*safari and chrome */
            }
            &:focus {
                outline: none;
            }
        }
    }
    /* Transitions for side bar open and close */
    .home-sidebar {
        background-color: $white;
        box-shadow: $box-shadow-black;
        width: fit-content !important;
        max-width: 50px;
        margin-top: 2px;
        /* On nover in nav bar expand */
        &:hover {
            max-width: 150px;
            transform: translateX(0);
            transition: 1s all linear!important;
            -o-transition: 1s linear; /* opera */
            -ms-transition: 1s linear; /* IE 10 */
            -moz-transition: 1s linear; /* Firefox */
            -webkit-transition: 1s linear; /*safari and chrome */
            
            .nav-title{
                transition: 1s all linear !important;
                -o-transition: 1s linear; /* opera */
                -ms-transition: 1s linear; /* IE 10 */
                -moz-transition: 1s linear; /* Firefox */
                -webkit-transition: 1s linear; /*safari and chrome */
                opacity: 1 !important;
                font-size: $regular-font;
            }   
        }
    }
}

/* Active class */
.active {
    color: $active;
}
