<div class="maincontainer">
  <div class="bat">
    <img class="wing leftwing" 
         src="../../assets/images/bat-wing.png">
    <img class="body"
         src="../../assets/images/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="../../assets/images/bat-wing.png">
  </div>
  <div class="bat">
    <img class="wing leftwing" 
         src="../../assets/images/bat-wing.png">
    <img class="body"
         src="../../assets/images/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="../../assets/images/bat-wing.png">
  </div>
  <div class="bat">
    <img class="wing leftwing" 
         src="../../assets/images/bat-wing.png">
    <img class="body"
         src="../../assets/images/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="../../assets/images/bat-wing.png">
  </div>
  <img class="foregroundimg" src="../../assets/images/HauntedHouseForeground.png" alt="haunted house">
  
</div>
<h1 class="errorcode">ERROR 403</h1>
<div class="errortext">This area is forbidden. Turn back now!</div>

